html
{
  width: 100%;
  height: 100%;
  position: absolute;
}

body
{
  font-family: arial;
  background-color: rgb(64, 64, 64);
  background-image: url("background3.png");
  overflow: hidden;
  padding: 10px;
  position: absolute;
  left: 10px;
  right: 10px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  cursor: default;
}

header.top-bar
{
  border-radius: 10px;
  color: black;
  text-align: center;
  font-family: arial;
  font-weight: bold;
  font-size: 20pt;
  position: absolute;
  width:100%;
  top: 10px;
  padding-top:10px;
  padding-bottom: 10px;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, .75);
}

div.map-container
{
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 425px;
  bottom: 40px;
  top: 75px;
}

div.hide
{
  display: none;
}

div.show
{
  display: inherit;
}

div.zoom-map
{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 10px;
  position: absolute;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, .75);
  z-index: 10
}

.popup-search-box
{
}

div.popup-search
{
  margin: auto;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, .5);
  padding: 10px;
  z-index: 30;
  }

#list-box
  {
  background-color: rgba(255, 255, 255, .3);
  padding: 20px;
  z-index: 20;
  width: 370px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 75px;
  bottom: 40px;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, .75);
  }

#toggle-bar
  {
  background-color: rgba(255, 255, 255, .3);
  width: 20px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 75px;
  bottom: 40px;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, .75);
  text-align: center;
  display: none;
  color: white;
  font-weight: bold;
  padding: 5px;
  padding-top: 10px;
  }

  @media (max-width: 900px),(max-device-width: 900px)
  {
    #toggle-bar
    {
      display: inherit;
    }

    #list-box
    {
      right: 45px;//30px;
      left: 0;
      width: auto;
    }

    div.map-container
    {
      right: 45px;//30px;
    }

    #list-box
    {
      display: none;
      //visibility: hidden;
    }
  }


.options-panel
{
  margin: 15px;
  position: relative;
  float: left;
  z-index: 20;
  width: 350px;
  height: 220px;
  border-radius: 10px;
  padding: 10px;
}

.letter
{
  color: black;
  font-weight: bold;
  font-size: 18pt;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

div.inputs
{
  float: left;
  margin: 10px;
}

div #route-button-wrapper
{
  padding-top: 10px;
  padding-left: 20px;
}

#route-button
{
  color: black;
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  float: left;
  border-radius: 10px;
  border: none;
  width: 110px;
  height: 110px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  cursor: pointer;
}

input.search-box
{
  height: 40px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  width: 195px;
  font-size: 16px;
  padding-left: 5px;
}

input#keyword
{
  width: 336px;
  margin: 10px 0px 10px 0px;
}

div#left-options-box
{
  float: left;
  width: 150px;
}

div#right-options-box
{
  float: right;
  width: 150px;
}

div.list-display
{
  background-color: white;
  left: 20px;
  right: 20px;
  padding: 10px;
  overflow: scroll;
  position: absolute;
  top: 54px;
  bottom: 20px;
}

div.places_label
  {
  background-color: rgb(96, 255, 128);
  color: black;
  font-weight: bold;
  font-size: 16pt;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  }

div.bottom
{
  vertical-align: middle;
  clear: both;
  color: white;
  font-size: 10pt;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  }

#new-route-button
  {
  color: white;
  font-size: 11pt;
  font-weight: bold;
  //width: 100px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  position: absolute;
  top: 10px;
  left: 20px;
  }

div.place_name
  {
  font-weight: bold;
  }

span.friendly_text
  {
  color: rgb(96, 96, 96);
  font-size: 22pt;
  font-weight: bold;
  }

div.places_details
  {
  background-color: rgb(192, 224, 255);
  font-size: 10pt;
  border-radius: 10px;
  padding: 10px;
  }

span.places_details
  {
  font-size: 10pt;
  }

.infowindow-info
  {
  color: #2c2c2c;
  width: 204px;
  }

.infotitle
  {
  font-weight: 400;
  font-size: 13px;
  }

.infowindow-spaced
  {
  padding-top: 6px;
  }

a
  {
  color: #4272db;
  text-decoration: none;
  }

a:hover
  {
   text-decoration: underline;
  }

.color-1
  {
  background-color: rgb(102, 255, 102);
  //Big new-route button, header, places header
  }

.color-2
  {
  background-color: rgb(51, 51, 255);
  //Small new route button, pop-up window
  }

.color-3
  {
  background-color: #387EE0;
  //Options box
  }

.button-color-A
  {
  background-color: rgb(102, 255, 102);
  }

.button-color-B
  {
  background-color: rgb(255, 96, 96);
  }
